/*--- styling for the collaterals ---*/

/*--- fonts ---*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/general-sans');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Maison Neue";
    src: url('https://github.com/waterderived/waterderived.github.io/blob/main/font-family/MaisonNeueExtendedBold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Maison Neue";
    src: url('https://github.com/waterderived/waterderived.github.io/blob/main/font-family/MaisonNeueDemi.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Maison Neue";
    src: url('https://github.com/waterderived/waterderived.github.io/blob/main/font-family/MaisonNeueMedium.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Maison Neue";
    src: url('https://github.com/waterderived/waterderived.github.io/blob/main/font-family/MaisonNeueBook.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Maison Neue";
    src: url('https://github.com/waterderived/waterderived.github.io/blob/main/font-family/MaisonNeueLight.otf');
    font-weight: 300;
    font-style: normal;
}


/*--- the magic starts here ! ---*/

*,
:before,
:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
}

:before,
:after {
    --col-content: "";
}

:root {
    --font-family-title: 'Maison Neue', 'Space Grotesk', 'Inter', 'Segoe UI';
    --font-family-body: 'Maison Neue', 'Inter', 'Segoe UI';
    --font-family-nav: 'Maison Neue', 'Inter', 'Segoe UI', sans-serif;
    --font-family-mono: "Chivo Mono", "Space Mono", 'Consolas';
    --border-spacing-x: 0;
    --border-spacing-y: 0;
    --translate-x: 0;
    --translate-y: 0;
    --rotate: 0;
    --skew-x: 0;
    --skew-y: 0;
    --scale-x: 0;
    --scale-y: 0;
    --pan-x: ;
    --pan-y: ;
    --pinch-zoom: ;
    --scroll-snap-strictness: proximity;
    --ordinal: ;
    --m-rem-01: 0.25rem;
    --m-rem-02: 0.5rem;
    --m-rem-03: 0.75rem;
    --m-rem-04: 1rem;
    --m-rem-05: 1.25rem;
    --m-rem-08: 2rem;
    --m-rem-10: 2.5rem;
    --spacing-01: 4px;
    --spacing-02: calc(2 * var(--spacing-01));
    --spacing-03: calc(3 * var(--spacing-01));
    --spacing-04: calc(4 * var(--spacing-01));
    --spacing-05: calc(5 * var(--spacing-01));
    --spacing-06: calc(6 * var(--spacing-01));
    --spacing-08: calc(8 * var(--spacing-01));
    --spacing-10: calc(10 * var(--spacing-01));
    --spacing-12: calc(12 * var(--spacing-01));
    --spacing-16: calc(16 * var(--spacing-01));
    --spacing-20: calc(20 * var(--spacing-01));
    --h1-size: 32px;
    --h2-size: 28px;
    --h3-size: 24px;
    --h4-size: 20px;
    --nj-space-blue: #2A40FF;
    --nj-space-blueLight: hsl(234, 100%, 68%);
    --nj-space-coolwhite: #fafafb;
    --nj-space-white: #F7F4E7;
    --nj-space-whiteLight: #fbfaf5;
    --nj-space-whiteLighter: #fdfdfe;
    --nj-space-grayDark: #afafb1;
    --nj-space-gray: #c6c6c9;
    --nj-space-grayLight: #ebebec;
    --nj-space-grayLighter: #f4f4f6;
    --nj-space-charcoalLightest: #515153;
    --nj-space-charcoalLighter: #404044;
    --nj-space-charcoalLight: #2f2f32;
    --nj-space-charcoal: #1f1f22;
    --nj-space-charcoalDark: #111113;
    --nj-space-charcoalDarker: #040404;
    --nj-offwhitelightest: rgb(251, 249, 248);
    --nj-offwhitelighter: rgb(249, 247, 245);
    --nj-offwhitelight: rgb(247, 245, 241);
    --nj-offwhite: #f8f4ec;
    --nj-offwhitedark: #f1f0ec;
    --nj-coolwhite: #f2f7fa;
    --nj-coolwhitedarker: #d8dad9;
    --nj-grey-light: #f7f7f7;
    --nj-grey-lighthover: #f2f2f2;
    --nj-grey-lightactive: #e5e5e5;
    --nj-grey-normal: #ababab;
    --nj-grey-normalhover: #9a9a9a;
    --nj-grey-normalactive: #898989;
    --nj-grey-dark: #808080;
    --nj-grey-darkhover: #676767;
    --nj-grey-darkactive: #4d4d4d;
    --nj-grey-darker: #3c3c3c;
    --nj-warmgrey: #e0dcd3;
    --nj-coolgrey: #b8b8b8;
    --nj-charcoal-200: rgb(100, 100, 100);
    --nj-charcoal-300: rgb(80, 80, 80);
    --nj-charcoal-400: rgb(60, 60, 60);
    --nj-charcoal-500: rgb(32, 32, 33);
    --nj-charcoal-550: rgb(24, 24, 24);
    --nj-charcoal-600: rgb(21, 21, 21);
    --nj-charcoal-700: #121212;
    --nj-charcoal-800: rgb(14, 14, 14);
    --color-red: #dc4747;
    --rounded-sidebar: .375rem;
}

:root[data-theme="light"] {
    --bg1: var(--nj-space-coolwhite);
    --bg1-09: rgba(249, 247, 245, 0.95);
    --bg2: var(--nj-offwhitelightest);
    --bg3: var(--nj-space-grayLighter);
    --hd1: var(--nj-space-charcoalDarker);
    --tx1: var(--nj-space-charcoalDark);
    --tx2: var(--nj-space-charcoalLight);
    --tx3: var(--nj-charcoal-400);
    --tx-muted: var(--nj-charcoal-200);
    --tx-italic: var(--nj-green-400);
    --tx-weight-nl: 500;
    --footer-p-color: var(--tx-muted);
    --subtitle-tx-color: var(--nj-space-charcoalLightest);
    --link-color: var(--nj-charcoal-700);
    --link-hover: var(--nj-space-blue);
    --link-color-selected: var(--nj-space-blue);
    --link-color-underline: var(--nj-space-blue);
    --selection-color-tx: var(--nj-space-white);
    --selection-color-bg: var(--nj-charcoal-600);
    --navButton-color-selected-outline: var(--tx2);
    --navButton-color-selected-tx: var(--nj-space-blue);
    --dropdown-color-tx: var(--nj-space-white);
    --dropdown-color-bg: var(--nj-space-blue);
    --tagpill-color-tx: var(--nj-charcoal-700);
    --tagpill-color-bg: rgba(199, 209, 203, 0.5);
    --tagpill-color-bg-hover: var(--nj-green-100);
    --tagpill-blue-bg: #eaecee;
    --tagpill-yellow-bg: #f4e3bc;
    /*--card-color-bg: hsl(30, 25%, 97%);*/
    --callout-blue-bg: var(--nj-blue-100);
    --callout-blue-tx: var(--nj-blue-600);
    --card-color-bg: hsl(30, 20%, 95%);
    --card-color-bg-hover: hsl(30, 20%, 96%);
    --post-color-bg: hsl(36, 20%, 95%);
    --post-color-bg-hover: hsl(30, 20%, 97%);
    --switch-bg: var(--nj-space-grayLight);
    --switch-circle-bg: #FFB21E;
    --icon-sun: #835510;
    --icon-moon: #B1B0B5;
    --switch-circle-pos: 0.22rem;
}

:root[data-theme="dark"] {
    /*--bg1: var(--nj-charcoal-700);*/
    --bg1: var(--nj-space-charcoalDark);
    --bg1-09: rgb(18, 18, 18, 0.95);
    --bg2: var(--nj-charcoal-600);
    /*--bg3: var(--nj-charcoal-550);*/
    --bg3: var(--nj-space-charcoal);
    --hd1: var(--nj-offwhitelighter);
    --tx1: var(--nj-offwhitelight);
    --tx2: var(--nj-space-grayLight);
    --tx3: var(--nj-space-whiteLighter);
    --tx-muted: var(--nj-grey-normal);
    --tx-italic: var(--nj-space-white);
    --tx-weight-nl: 400;
    --footer-p-color: var(--nj-coolgrey);
    --subtitle-tx-color: var(--nj-space-grayDark);
    --link-color: var(--nj-space-white);
    --link-hover: var(--nj-space-blueLight);
    --link-color-selected: var(--nj-space-blueLight);
    --link-color-underline: var(--nj-space-blue);
    --selection-color-tx: var(--nj-space-whiteLighter);
    --selection-color-bg: var(--nj-space-charcoalLight);
    --navButton-color-selected-outline: var(--nj-green-100);
    --navButton-color-selected-tx: var(--nj-space-whiteLight);
    --dropdown-color-tx: var(--nj-space-white);
    --dropdown-color-bg: var(--nj-space-blue);
    --tagpill-color-tx: var(--nj-grey-light);
    --tagpill-color-bg: #2d3430;
    --tagpill-color-bg-hover: var(--nj-green-900);
    --tagpill-blue-bg: #2F4858;
    --tagpill-yellow-bg: #3e3e3e;
    --callout-blue-bg: rgba(136, 155, 171, 0.3);
    --callout-blue-tx: rgba(136, 155, 171, 0.9);
    --card-color-bg: var(--nj-charcoal-550);
    --card-color-bg-hover: var(--nj-charcoal-500);
    --post-color-bg: var(--nj-charcoal-550);
    --post-color-bg-hover: var(--nj-charcoal-500);
    /*--switch-bg: var(--nj-nearmono-400);*/
    --switch-bg: var(--nj-space-charcoalDark);
    --switch-circle-bg: var(--nj-charcoal-700);
    --icon-sun: #B1B0B5;
    --icon-moon: var(--nj-offwhitelight);
    --switch-circle-pos: 1.66rem;
    --img-dark-level: 75%;
    --img-dark-level-hover: 100%;
}

:root {
    --hero-h1-color: var(--hd1);
    --hero-h1-font: var(--font-family-title);
    --hero-h1-size: 52px;
    --hero-h1-height: 52px;
    --hero-h1-weight: 600;
    --hero-h1-style: normal;
    --hero-h2-color: var(--hd1);
    --hero-h2-font: var(--font-family-title);
    --hero-h2-size: 36px;
    --hero-h2-height: 48px;
    --hero-h2-weight: 500;
    --hero-h2-style: normal;
    --hero-p-color: var(--tx1);
    --hero-p-font: var(--font-family-body);
    --hero-p-size: 1em;
    --hero-p-height: 1em;
    --hero-p-weight: 400;
    --hero-p-style: normal;
    --card-color-title: var(--hd1);
}

/* --- SCROLLBAR --- */

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--bg1);
    border: 0 solid var(--bg1);
    z-index: 100;
}

::-webkit-scrollbar-thumb {
    background: var(--tx-muted);
    border: 2px solid var(--bg1);
    border-radius: 4px;
}

*,
::after,
::before {
    box-sizing: border-box;
}

::selection {
    color: var(--selection-color-tx);
    background: var(--selection-color-bg);
}

/*---BODY---*/

html {
    display: flex;
    justify-content: center;
    line-height: 1.625;
    font-family: /*'Oxygen', 'Inter UI', */'Inter', 'Segoe UI', "Antarctican", sans-serif;
}

body {
    background-color: var(--bg1);
    /*display: flex;
    flex-direction: column;
    margin: 0 24px;
    justify-content: center;
    max-width: 640px;
    line-height: inherit;
    overflow-x: hidden;*/
    width: 96%;
    max-width: 1500px;
    text-align: left;
    margin: 0;
}

.w-700 {
    font-weight: 700;
}

.img-fill {
    max-width: 360px;
}

p {
    font-size: 14px;
    letter-spacing: 1%;
    font-weight: 400;
    line-height: 1.25;
    color: var(--tx1);
    margin: 0 0 0.375rem 0;
    display: inline;
    padding: 0;
}

em {
    color: var(--tx-italic);
}

hr {
    border: 1px solid var(--tx1);
    height: 1px;
    border-radius: 1px;
    width: 100%;
}

hr:has(+ h1),
hr:has(+ h2),
hr:has(+ h3),
hr:has(+ h4),
hr:has(+ h5),
hr:has(+ h6),
hr:has(+ .above-footer) {
    margin-bottom: var(--spacing-05);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--hero-h1-color);
    font-family: var(--hero-h1-font);
    font-style: var(--hero-h1-style);
    font-weight: var(--hero-h1-weight);
    line-height: 125%;
    letter-spacing: 2px;
    text-wrap: wrap;
    margin: var(--spacing-04) 0 var(--spacing-02) 0;
    padding-bottom: 8px;
}

h1:has(+ p) {
    margin-bottom: 16px;
}

h2:has(+ p),
h3:has(+ p),
h4:has(+ p),
h5:has(+ p),
h6:has(+ p) {
    margin-bottom: 12px !important;
}

h1:first-of-type {
    margin-top: 32px;
}

p:has(+ h1, + h2, + h3, + h4, + h5, + h6) {
    margin-bottom: 24px !important;
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

@media (min-width: 320px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }
}

ul {
    line-height: 1.5;
    padding-top: 0;
    padding-bottom: 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
    text-decoration: none;
}

.dotted-underline {
    text-decoration: underline var(--link-color-underline) dotted;
    text-underline-offset: 2px;
}

.lowercase {
    text-transform: lowercase !important;
}

/* --- tables --- */

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.75em;
    font-family: var(--font-family-body);
    font-weight: 400;
    color: var(--tx1);
    width: 100%;
}

table {
    display: table;
    width: 100%;
    box-sizing: content-box;
    border-collapse: collapse;
    border-spacing: 0;
}

tbody {
    margin: 0 0 8px 0;
}

td {
    padding: 3px 6px 3px 2px;
    vertical-align: middle;
    align-content: start;
}

td:first-of-type {
    font-family: var(--font-family-mono);
    font-size: 1em;
    width: 140px !important;
}

td:last-of-type {
    width: 1fr;
}

#sortTable table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid var(--nj-green-200);
    font-size: 11px;
    color: var(--tx1)
}

#sortTable th,
#sortTable td {
    text-align: left;
    padding: 4px 8px;
}

#sortTable tr {
    border-bottom: 1px solid var(--nj-grey-normalhover);
}

#sortTable tr.header {
    background-color: var(--nj-green-250);
}

.grid-rec {
    margin-top: 24px;
    height: max-content;
}

article {
    position: relative;
    width: 275px;
    margin: 8px;
    box-sizing: border-box;
    padding: 8px 16px 12px 16px;
    border: 1px solid var(--nj-grey-normal);
    border-radius: 8px;
    line-height: normal;
    display: inline-block;
    transition-duration: 0.35s;
    -moz-transition-duration: 0.35s;
    -webkit-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
}

.grid-rec .title {
    display: block;
    margin-bottom: 8px;
}

.grid-rec h1 {
    font-size: 14px !important;
    font-family: var(--font-family-mono);
    color: var(--hd1);
    font-weight: 400;
    display: inline;
    padding-bottom: 16px;
}

.grid-rec a {
    font-size: 10px;
}

.grid-rec .rec-descr {
    font-size: 12px;
    font-family: var(--font-family-body);
    color: var(--tx1);
    margin-bottom: 4px;
}

.grid-rec .rec-nts {
    font-size: 12px;
    font-family: "Pecita", var(--font-family-body);
    color: var(--nj-grey-normalactive);
    margin-top: 4px;
    margin-bottom: 8px;
}

.grid-rec .rec-tags {
    display: block;
    overflow-wrap: normal;
    flex-wrap: normal;
}

.grid-rec .rec-tags .tag-pill {
    font-size: 10px;
}

.grid-rec .rec-tags:first-child {
    margin-left: 0 !important;
}

/* filter buttons */

.table-filters {
    display: inline-block;
    margin: 4px 8px 16px 8px;
}

.button-group {
    display: inline-block;
    height: 20px;
    margin-bottom: 16px;
}

.btn2 {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    outline: 0;
    padding: 0;
    display: inline-block;
    cursor: help;
    text-shadow: none;
    box-shadow: none;
    line-height: 1;
    color: var(--tx-muted);
    font-size: 11px;
    font-family: inherit;
    letter-spacing: normal;
    margin-right: 12px;
}

.btn2.btn-selected {
    font-weight: 600;
    color: var(--nj-green-400);
    text-decoration: underline;
    text-underline-offset: 2px;
}

.grid {
    --gridGap: 32px;
    gap: var(--gridGap);
    display: grid;
    grid-template-columns: repeat(15, minmax(0, 1fr));
    padding-left: 24px;
    padding-right: 24px;
}

@media (min-width: 320px) {
    .grid {
        --gridGap: 4px;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (max-width: 640px) {
    .page-header {
        width: 100%;
    }
}

@media (min-width: 640px) {
    .grid {
        grid-template-columns: repeat(15, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .grid {
        --gridGap: 16px;
    }
}

@media (min-width: 1440px) {
    .grid {
        margin: 0 48px;
        max-width: 1440px;
    }
}

/* SIDEBAR */
.sidebar {
    display: flex;
    flex: 1, 1, 0%;
    flex-direction: column;
    min-height: 0;
    background-color: var(--sidebar-bg1);
    height: 100vh;
}

.sidebar-frame {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: var(--bg1);
    background-color: var(--bg1-09);
}

.sidebar-element {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.sidebar-element a {
    padding: 8px;
    text-decoration: none;
    font-size: 16px;
    color: var(--link-color);
    display: block;
    transition: 0.3s;
}

.sidebar-element a:hover,
.sidebar-element a:focus {
    color: var(--link-hover);
}

.sidebar-frame .close-button {
    position: absolute;
    top: 10px;
    right: 24px;
    font-size: 32px;
    text-decoration: none;
    color: var(--tx-muted);
}

.sidebar-open-button {
    position: relative;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    color: var(--link-color);
    border: none;
    border-radius: 8px;
    padding-right: 0 !important;
    z-index: 22;
}

.sidebar-open-button:hover {
    color: var(--link-hover);
}

.sidebar-open-button-open {
    position: absolute;
    font-size: 0.875em;
    cursor: pointer;
    background-color: transparent;
    color: var(--tx2);
    padding: 8px 10px;
    border: none;
    border-radius: 8px;
    z-index: 12;
}

@media screen and (max-height: 450px) {
    .sidebar-frame {
        padding-top: 16px
    }
}

.container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 24px;
    width: 1134px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-up-title {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.home-delayFade {
    animation: fade-in 1.2s 1.2s backwards !important;
}

.home-titleSlide {
    animation: slide-up-title 0.8s ease-in-out;
}

.page-fadeIn {
    animation: fade-in 0.8s ease-in-out;
}

.page-hero {
    position: relative;
    height: 90%;
    z-index: 18;
}

.page-header {
    position: relative;
    height: 48px;
}

.page-hero .grid,
.page-header .grid {
    row-gap: 0;
}

.page-hero-content {
    column-gap: 0;
    display: grid;
    grid-column: 2/ span 12;
    position: relative;
    margin: 20vh 0 25vh 0;
}

@media (min-width: 1024px) {
    .page-hero-content {
        grid-column: 2/span 12;
    }
}

@media (min-width: 640px) {
    .page-hero-content {
        column-gap: var(--gridGap);
        grid-template-columns: repeat(15, minmax(10px, 1fr));
    }
}

@media (min-width: 320px) {
    .page-hero-content {
        grid-column: 1/-1;
        margin: 4vh 0 8vh 0;
    }
}

@media (max-width: 768px) {
    .page-hero-content {
        height: unset !important;
        grid-template-rows: 100%;
    }
}

.page-hero-bio {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    grid-column: 1 / -1;
    grid-row: 1;
    justify-content: center;
    padding: 48px 0;
    position: relative;
    z-index: 2
}

.page-hero-bio p {
    color: var(--tx1) !important;
}

.page-hero-content .page-hero-bio {
    grid-column: 2 / -1;
    grid-row: 1;
}

@media (min-width: 320px) {
    .page-hero-content .page-hero-bio {
        grid-column: 1 / -1;
        grid-row: 1;
    }
}

@media (min-width: 768px) {
    .page-hero-content .page-hero-bio {
        grid-column: 2 / span 11;
        grid-row: 1;
    }
}

.page-hero-content h1 {
    color: var(--hero-h1-color);
    font-family: var(--hero-h1-font);
    font-size: var(--hero-h1-size);
    font-style: var(--hero-h1-style);
    font-weight: var(--hero-h1-weight);
    text-wrap: wrap;
    margin-bottom: 32px;
}

.page-hero-content h2,
.page-hero-content h3 {
    color: var(--hero-h2-color);
    font-family: var(--hero-h2-font);
    font-size: var(--hero-h2-size);
    font-style: var(--hero-h2-style);
    font-weight: var(--hero-h2-weight);
}

.page-hero-content p,
.page-hero-content ol,
.page-hero-content ul {
    color: var(--hero-p-color);
    font-family: var(--hero-p-font);
    font-size: var(--hero-p-size);
    font-style: var(--hero-p-style);
    font-weight: var(--hero-p-weight);
}

.page-hero-content p:empty:after {
    content: "\00A0";
}

.page-hero-content a {
    color: var(--link-color)
}

.page-hero-content ol,
.page-hero-content ul {
    display: flex;
    flex-direction: column;
}

.page-hero-text {
    flex-wrap: nowrap;
}

.page-hero-content .page-hero-text p {
    overflow-wrap: break-word;
    text-wrap: nowrap;
}

@media (max-width: 640px) {
    .page-hero-content h1 {
        --hero-h1-size: 28px;
        --hero-h1-height: 40px;
    }
}

/* trying to figure out the text wraps... */

.page-hero-content .page-hero-text.align-text-left * {
    text-align: left !important;
}

.page-hero-content .page-hero-text.align-text-left ol,
.page-hero-content .page-hero-text.align-text-left ul {
    align-items: flex-start;
}

/* page sections */
.page-section {
    position: relative;
    z-index: 2;
}

.page-section .grid {
    row-gap: 0;
}

.page-section h1 {
    color: var(--hero-h1-color);
    font-family: var(--hero-h1-font);
    font-style: var(--hero-h1-style);
    font-weight: var(--hero-h1-weight);
    text-wrap: wrap;
}

.page-section h3 {
    padding-left: 4px;
}

.page-section-content {
    column-gap: 0;
    display: grid;
    grid-column: 1 / span 15;
    grid-template-columns: repeat(14, minmax(0, 1fr));
    position: relative;
    margin: 64px 32px;
}

.page-section-content:is(.page-section-content:first) {
    margin: 64px 32px;
}


@media (min-width: 1024px) {
    .page-section-content {
        grid-column: 0/-1;
    }
}

@media (min-width: 640px) {
    .page-section-content {
        column-gap: var(--gridGap);
        grid-template-columns: repeat(12, minmax(10px, 1fr));
    }
}

.page-section-content ol,
.page-section-content ul {
    display: flex;
    flex-direction: column;
}

.page-section-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-column: 1/-1;
    grid-row: auto;
    height: fit-content;
    position: relative;
    row-gap: 0;
    z-index: 1;
}

.page-section-block.flex-column {
    flex-direction: column !important;
}

.page-section-text {
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 0;
    z-index: 1;
    counter-reset: footnotes;
}

@media (max-width: 768px) {
    .page-section-text {
        grid-column: 1 / -1;
    }
}

.page-section-content .page-section-text {
    width: 100%;
    padding: 8px 0;
}

@media (min-width: 768px) {
    .page-section-text.wi-40 {
        width: 40%;
    }

    .page-section-text.wi-70 {
        width: 70%;
    }

    .page-section-text.photo-right {
        justify-content: center;
        width: fit-content;
        padding: 24px 0 0 2vw;
    }
}

@media (max-width: 767px) {
    .page-section-text.wi-70 {
        width: 100%;
    }

    .page-section-text.photo-right {
        display: none;
    }
}

.page-section-content .page-section-text:first-of-type {
    padding: 24px 0 0 0;
}

.page-section-content .page-section-text.align-text-left * {
    text-align: left;
}

.page-section-content .page-section-text p {
    color: var(--tx1);
    line-height: 1.65;
    padding: 0 4px;
    margin-bottom: 0.8em;
    display: block;
}

.page-section-content .page-section-text ol,
.page-section-content .page-section-text ul {
    display: flex;
    flex-direction: column;
    color: var(--tx1);
    font-size: 1em;
    line-height: 1.65em;
    margin: 0 0 4px 0;
}

.page-section-content .page-section-text p:has(+ ul),
.page-section-content .page-section-text p:has(+ ol) {
    margin-bottom: 8px;
}

.page-section-text .col2-60 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
    padding: 24px 0 32px 0;
}

.page-section-text .col2-60 .col-left,
.page-section-text .col2-60 .col-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.page-section-text .col2-60 .col-left img,
.page-section-text .col2-60 .col-right img {
    width: 100%;
    max-width: 600px;
    height: auto;
    justify-self: center;
}

@media (min-width: 1330px) {
    .page-section-text .col2-60 {
        flex-direction: row;
        justify-content: start;
        align-items:start;
        padding: 24px 0;
        gap: 0;
    }

    .page-section-text .col2-60 .col-left {
        width: 56%;
    }

    .page-section-text .col2-60 .col-right {
        width: 44%;
    }
    
    .page-section-text .col2-60 .col-left img,
    .page-section-text .col2-60 .col-right img {
        max-width: 100%;
    }
}

.page-section-text .post-image-box {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
    width: 100%;
    padding: 24px 0;
}

.page-section-text .post-image-box img {
    width: 75%;
    align-self: center;
}

.page-section-text .post-image-box .image-caption {
    width: 75%;
    font-family: var(--font-family-body);
    color: var(--tx-muted);
    align-self: center;
    margin-block-start: 8px;
}

.image-caption p {
    font-size: 12px;
    line-height: 1.5;
    margin: 0 0 0.125em 0 !important;
    padding: 0;
    align-self: center;
    text-align: center !important;
}

.section-recent {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    max-height: 200px;
    justify-content: left;
    align-items: center;
    margin: 12px 0;
}

#literal-widget {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 8px;
    margin: 0 4px;
}

#literal-widget .literal-book-item {
    max-width: 400px !important;
}

#literal-widget,
#literal-widget>*,
.literal-book-item,
.literal-book-item img {
    height: 200px !important;
    max-height: 200px !important;
}



/* footnotes */
[aria-describedby="footnote-label"] {
    counter-increment: footnotes; /* 1 */
    text-decoration: none; /* 2 */
    color: inherit; /* 2 */
    cursor: default; /* 2 */
    outline: none; /* 2 */
}

[aria-describedby="footnote-label"]::after {
    content: counter(footnotes); /* 1 */
    vertical-align: super; /* 2 */
    font-size: 0.5em; /* 3 */
    margin-left: 2px; /* 4 */
    color: var(--nj-green-400); /* 5 */
    text-decoration: none; /* 5 */
    cursor: pointer; /* 5 */
}

[aria-describedby="footnote-label"]:focus::after {
    outline: thin dotted;
    outline-offset: 2px;
}

[aria-label="back-to-content"] {
    font-size: 0.8em;
}

.footnote-references {
    padding-bottom: 64px;
    padding-left: 8px;
    padding-right: 8px;
}

.footnote-references ol,
.footnote-references ol li {
    font-size: 0.875em;
    text-indent: 0;
    padding-left: 16px !important;
    line-height: 1.5;
}

/* things in the body */

.body-descr-sub {
    font-size: 0.75em;
    font-family: var(--font-family-body);
    color: var(--tx1);
    margin-left: 0.8rem;
    margin-top: 0.25rem;
}

.p-narrow {
    max-width: 1000px;
}

.p-very-narrow {
    max-width: 750px;
}

.p-before-list {
    margin-bottom: 4px;
}

.card-caption {
    font-size: 0.75em;
    font-family: var(--font-family-body);
    font-weight: 400;
    letter-spacing: 0.05em;
    color: var(--tx2);
    margin-top: 0.25rem;
}

.page-section-content .page-section-text p.card-caption {
    line-height: 1.6;
    padding: 0 12px !important;
    margin-bottom: 0.25rem !important;
}

.card-caption p {
    display: inline;
}

.card-caption a {
    letter-spacing: 0.05em;
    text-decoration: none;
    color: var(--tx3);
}

.card-caption a:hover {
    text-decoration: none;
    color: var(--link-hover);
}

.card-caption em {
    color: var(--tx1);
    font-weight: 400;
}

.card-title-mono {
    font-family: var(--font-family-mono) !important;
    font-size: 1em !important;
    font-weight: 550;
    color: var(--card-color-title) !important;
    text-decoration: none;
    text-wrap: wrap;
    overflow-wrap: normal;
}

.date-mono {
    font-family: var(--font-family-mono);
    font-size: 0.875em;
    font-weight: 300;
    color: var(--tx-muted) !important;
    display: inline;
    margin-left: 16px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--m-rem-04);
    margin: var(--spacing-03) 0 var(--spacing-05) 0;
    width: 100%;
    max-width: 100%;
}

.project-container.card-column-two {
    grid-template-columns: repeat(2, minmax(350px, 50%));
}

@media (min-width: 850px) {
    .project-container.card-column-two {
        grid-template-columns: repeat(2, minmax(350px, 50%));
    }
}

@media (max-width: 850px) {
    .project-container.card-column-two {
        grid-template-columns: repeat(1, minmax(600px, 100%)) !important;
    }
}

@media (max-width: 640px) {
    .project-container.card-column-two {
        grid-template-columns: repeat(1, 100%) !important;
    }
}

.project-card,
.project-card-nolink {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    max-width: 100%;
    background-color: var(--card-color-bg);
    border-radius: var(--spacing-05);
    gap: var(--spacing-02);
    padding: var(--spacing-04) var(--spacing-06) var(--spacing-04) var(--spacing-06);
    margin: var(--spacing-02);
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01), 0 4px 8px rgba(0, 0, 0, 0.01),
	0 4px 8px rgba(0, 0, 0, 0.02), 0 2.3px 17.9px rgba(0, 0, 0, 0.03),
	0 12px 33.4px rgba(0, 0, 0, 0.03);*/
    transition: all 0.1s ease 0s;
}

.project-card:hover {
    background-color: var(--card-color-bg-hover);
    box-shadow: 0 12px 8px rgba(0, 0, 0, 0.03);
    transition: ease-in 0.3s;
}

.posts .project-card,
.posts .project-card:hover {
    box-shadow: none;
    margin: 0;
}

.posts .project-card {
    background-color: var(--post-color-bg);
}

.posts .project-card:hover {
    background-color: var(--post-color-bg-hover);
}

.project-card a,
.project-card-nolink a {
    color: var(--tx1) !important;
    text-decoration: none;
}

.project-card-image-sq img {
    max-height: 64px;
    max-width: 64px;
    border-radius: var(--spacing-03);
    object-fit: contain;
    margin-right: var(--spacing-06);
}

@media (max-width: 640px) {
    .project-card-image-sq img {
        display: none;
    }
}

.project-card-text {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    color: var(--tx-muted) !important;
    line-height: 125%;
    gap: 4px;
}

.card-title-mono .date-mono {
    font-size: 12px !important;
    color: var(--tx-muted);
}

.project-card-text p {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 12px;
    line-height: 112.5%;
}

.project-container .card-title-mono {
    font-size: 16px !important;
    font-weight: 500;
    line-height: 125%;
    padding-bottom: 4px;
}

h3:has(+ .post-data) {
    margin-bottom: 4px;
    margin-left: -2px;
}

.post-data {
    font-weight: 300;
    color: var(--tx-muted);
    display: block;
    margin-bottom: var(--spacing-08);
    padding-left: 4px;
}

.post-data .date-mono {
    font-family: var(--font-family-mono);
    font-size: 14px;
    display: inline;
    margin: 0 8px 0 0;
}

.tag-pill {
    font-size: 11px;
    font-weight: 400;
    color: var(--tagpill-color-tx);
    background-color: var(--tagpill-color-bg);
    border: none;
    border-radius: 8px;
    padding: 3px 6px;
    margin: 0 2px;
    display: inline;
}

.post-data .tag-pill:is(:first-of-type) {
    margin-left: 16px !important;
}

/*.tag-pill:hover {
    background-color: var(--tagpill-color-bg-hover);
    cursor: pointer;
}*/

.tag-pill.blue {
    background-color: var(--tagpill-blue-bg);
}

.tag-pill.yellow {
    background-color: var(--tagpill-yellow-bg);
}

.post-data.blog {
    margin-bottom: var(--spacing-12);
}

/* callouts */
.callout {
    width: 100%;
    margin: var(--spacing-02) 4px var(--spacing-12) 4px;
}

.callout .callout-title {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 8px 16px 6px 16px;
	  border-top-right-radius: 12px;
	  border-top-left-radius: 12px;
    background-color: var(--callout-blue-bg);
    color: var(--callout-blue-tx);
    font-size: 12px;
    font-weight: 600;
}

.callout .callout-title svg {
    height: 16px;
    width: 16px;
    padding-top: 2px;
    margin-right: 8px;
}

.callout .callout-content {
    padding: 16px 16px 16px 24px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.625;
    background-color: var(--bg1);
    color: var(--tx-muted);
    border: 1px solid var(--callout-blue-bg);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

/* section break dinkus */
.post-dinkus {
    width: 100%;
    justify-content: center;
    justify-self: center;
    text-align: center !important;
    font-family: var(--font-family-body);
    font-size: 16px;
    padding: 4px 0 12px 0;
}

/* hyperlinks list */
.hyperlink-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--m-rem-02);
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
}

.hyperlink-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-radius: var(--spacing-05);
    gap: 4px;
    padding: var(--spacing-02);
    color: var(--tx1) !important;
    line-height: 125%;
}

.hyperlink-box a {
    color: var(--tx1) !important;
    text-decoration: none;
}

.hyperlink-box a:hover {
    color: var(--link-hover) !important;
}

.hyperlink-box .card-title-mono {
    font-size: 16px !important;
    font-weight: 500;
    line-height: 125%;
}

.hyperlink-box .date-mono {
    font-size: 11px !important;
    line-height: 125%;
    color: var(--tx-muted);
    margin-left: 1px;
    margin-right: 8px;
}

.hyperlink-box p {
    padding: 0 0 0 2px !important;
    margin: 0 !important;
    font-size: 12px;
    line-height: 112.5%;
}

.hyperlink-box .rec-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-wrap: normal;
    flex-wrap: normal;
    padding: 0;
    margin: 0;
}

.hyperlink-box .rec-tags .tag-pill {
    font-size: 10px;
    border-radius: 8px;
    padding: 3px 6px 2px 6px;
    line-height: 125%;
}

.hyperlink-box .rec-tags .tag-pill:first-of-type {
    margin-left: 0 !important;
}


/* photos */

#imgwrapper {
    padding: 0px;
    width: 620px;
    height: auto;
    margin: auto;
    overflow: hidden;
}

/* IMAGE GRIDS */
.img-grid-container {
    width: 100%;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: auto;
    gap: 16px;
    margin-top: 24px;
}

.grid-container-col {
    justify-self: center;
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: var(--m-rem-04);
    margin-top: var(--spacing-02);
}

.grid-container-too {
    justify-self: center;
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: var(--m-rem-02);
    margin-top: var(--spacing-08);
}

.grid-container-tree {
    justify-self: center;
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 8px;
    z-index: 3;
}

.grid-container-photo {
    justify-self: center;
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 8px;
    z-index: 3;
}

.photo-border {
    border-width: 2px;
    border-color: #000000;
}

/*
.gridded {
    display: inline-block;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    max-width: 100%;
    min-width: 200px;
    background-color: var(--bg3);
    border-radius: var(--spacing-05);
    gap: var(--spacing-02);
    padding: var(--spacing-04) var(--spacing-06) var(--spacing-04) var(--spacing-06);
    margin-bottom: var(--spacing-02);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01), 0 4px 8px rgba(0, 0, 0, 0.01),
        0 4px 8px rgba(0, 0, 0, 0.02), 0 2.3px 17.9px rgba(0, 0, 0, 0.03),
        0 12px 33.4px rgba(0, 0, 0, 0.03);
    transition: all 0.2s ease 0s;
}

.gridded:hover {
    background-color: var(--bg2);
}

.gridded p {
    padding: 0 8px 0 8px;
}
*/

.gridded {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    background-color: var(--bg3);
    border-radius: var(--spacing-03);
    gap: var(--spacing-02);
    padding: var(--spacing-03) var(--spacing-03) var(--spacing-04) var(--spacing-03);
    -webkit-box-pack: center;
    -webkit-box-align: center;
    transition: all 0.2s ease 0s;
}

.gridded-img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
    border-radius: var(--spacing-04);
    padding: 8px;
}

.gridded-img-photo {
    flex: content;
    flex-shrink: 1;
    max-width: 100%;
    height: auto;
    margin: 8px;
}

html[data-theme="dark"] .gridded-img,
html[data-theme="dark"] .gridded-img-photo {
    filter: brightness(80%);
}

html[data-theme="dark"] .gridded:hover .gridded-img,
html[data-theme="dark"] .gridded-img-photo:hover {
    filter: none !important;
    transition-duration: 0.3s;
}

.gridded-img-sq {
    float: left;
    width: auto;
    height: auto;
    position: relative;
    margin: 8px;
    cursor: pointer;
}

.gridded-img-darken {
    float: left;
    width: 600px;
    height: 338px;
    position: relative;
    margin: 8px;
    cursor: pointer;
}

.gridded-img-darken img {
    width: 600px;
    height: auto;
    position: absolute;
}

.gridded-img-darken:hover {
    filter: brightness(50%);
    transition: .3s;
}

.gridded-img-caption {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    opacity: 0;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}

.gridded-img-caption p {
    text-align: center;
    font-family: var(--font-family-mono);
    color: #ffffff;
}

.gridded-img-darken:hover .gridded-img-caption {
    opacity: 1;
}

/*
.grid-container {
    display: grid;
    grid-template-columns: repeat(200px, 1fr);
    grid-gap: 1rem;
    justify-content: center;
}
*/

.grid-item img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.linktitle {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}


/* -- FOOTER -- */

footer {
    display: relative;
    z-index: 20;
    bottom: 0;
}

footer p,
footer a {
    text-align: left;
    font-family: var(--font-family-body);
    color: var(--footer-p-color);
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin: 24px auto;
}

@media (min-width: 320px) {
    footer {
        margin: 24px 0 12px 0;
        padding: 0 4px;
    }

    .footer a,
    .footer p {
        font-size: 10px;
    }

    .footer .footer-links {
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
    }
}

@media (min-width: 768px) {
    footer .footer-links {
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media (min-width: 1440px) {
    footer {
        margin: 24px auto 48px auto;
        padding: 0 48px;
    }

    footer .footer-links {
        padding-left: 12px;
        padding-right: 12px;
    }
}

footer .separator .line {
    border-top: 1px solid var(--tx-muted);
    margin: 0 12px;
}

footer .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

footer .footer-links .mark-left {
    display: flex;
    padding-left: var(--spacing-02);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 32px 0 6rem 0;
    align-items: center;
    width: 100%;
}

.navbar2 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    vertical-align: middle;
    z-index: 20;
    padding: 24px 0;
}

@media (min-width: 320px) {
    .navbar2 {
        grid-column: 1 / -1;
        padding: 24px 0;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .navbar2 {
        flex-direction: row;
        justify-content: flex-end;
    }
}

@media (min-width: 1024px) {
    .navbar2 {
        grid-column: 1 / -1;
    }
}

.navbar-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
}

.navbar2 .navbar-container {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    gap: 2px;
}

@media (min-width: 768px) {
    .navbar2 .navbar-container {
        justify-content: flex-end;
    }
}

@media (max-width: 768px) {
    .navbar2 .navbar-container {
        grid-column: 1 / -1;
    }

    .navbar2 .navbar-container .navbar-item:not(:has(button)) {
        display: none;
    }
}

@media (min-width: 768px) {

    .navbar2 .navbar-container .navbar-item:has(.sidebar-open-button),
    .navbar2 .navbar-container .navbar-item:has(.sidebar-open-button-open) {
        display: none;
    }
}

.header-buttons {
    display: flex;
    vertical-align: middle;
}

.header-photo {
    height: 32px;
    padding-right: 16px;
}

.header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--font-family-nav);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 7%;
    flex-grow: 0;
    flex-shrink: 0;
    backface-visibility: hidden;
}

.header-title a {
    color: var(--tx1);
    text-decoration: none !important;
}

.header-title a:hover {
    color: var(--tx3);
}

.navbar2 .header-title {
    align-self: center;
    width: max-content;
    vertical-align: middle;
}

.navbar2 .header-title>a {
    vertical-align: middle;
}

/*@media (max-width: 768px) {
    .header-title {
        position: relative;
        z-index: 20;
    }
}*/

.navbar-item {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    font-size: 13px;
    letter-spacing: 0.05em;
    text-decoration: none;
    vertical-align: middle;
}

.navbar-item .btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: auto;
    padding: 0;
    text-transform: none;
    white-space: normal;
}

.navbar2 .navbar-container .navbar-item {
    align-items: center;
    width: max-content;
    margin-left: 20px;
}

.navbar-item .btn a,
.navbar-item a {
    color: var(--link-color);
    font-family: var(--font-family-nav);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-decoration: none;
    vertical-align: middle;
}

.navbar-item .not-btn {
    color: var(--link-color-selected);
    font-family: var(--font-family-nav);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-decoration: none;
    vertical-align: middle;
    cursor: default;
}

.navbar-item a:hover,
.navbar-item .btn:hover {
    color: var(--link-hover);
    transition: ease-in-out .3s;
}

/*.navbar2 .navbar-container .navbar-item {
    align-items: center;
    justify-content: center;
    width: max-content;
    min-width: 64px;
    margin-left: 4px;
    padding: 8px 4px;
    font-size: 12px;
    font-weight: 400;
}*/

.navbar2 .navbar-container .navbar-item:has(#theme-switcher) {
    padding: 8px 0 !important;
}

.navbar2 .navbar-container .navbar-item:has(.sidebar-open-button) {
    padding-right: 0 !important;
}

/*.navbar2 .navbar-container .navbar-item.selected {
    font-weight: 500;
    color: var(--navButton-color-selected-tx);
}*/

.navbar2 .navbar-container .navbar-item.selected:hover {
    text-decoration: none;
    cursor: default;
}

#menu {
    display: flex;
    margin: auto 8px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

ul#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
    padding-left: var(--spacing-04);
    padding-right: var(--spacing-02);
}

#menu li+li {
    margin-inline-start: var(--spacing-04);
}

/*#menu li:last-of-type {
    padding-right: 0;
}*/

.hidden {
    visibility: hidden;
    opacity: 0.1;
    transition: visibility 0s 0.5s, opacity 0.25s linear;
}

.collapsible {
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.collapsible:hover h3 {
    color: var(--tx3) !important;
}

.collcontent {
    padding: 8px 0 0 4px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    line-height: 1.75em;
}

.collapsible h3:after {
    content: '\0002B';
    /* Unicode character for "plus" sign (+) */
    font-size: 24px;
    color: var(--hd1);
    float: right;
    margin-left: 5px;
    vertical-align: middle;
}

.active h3:after {
    content: '\2014';
    /* Unicode character for "minus" sign (-) */
    color: var(--tx1);
}

/*-------------------- 
--homepage dropdowns-- 
---------------------*/
.dropdown-home {
    min-width: 2px;
    width: auto;
    position: relative;
    display: inline-block;
    justify-content: center;
}

.dropdown-home::before,
.dropdown-home::after {
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 0px solid transparent;
}

.dropdown-btn {
    appearance: none;
    border: none;
    padding: 4px 8px 4px 8px;
    background-color: var(--dropdown-color-bg);
    color: var(--dropdown-color-tx);
    font-size: 1em;
    width: auto;
}

.dropdown-btn::before,
.dropdown-btn::after {
    border: none;
}

.dropdown-btn:focus {
    border-color: var(--dropdown-color-tx);
}

select {
    appearance: none;
    width: max-content;
    padding: 0 8px 0 0;
    margin: 0 4px;
    border: none;
    border-radius: var(--spacing-01);
    color: var(--tx1);
    cursor: pointer;
}

p:has(.dropdown-surround) {
    text-wrap: wrap;
    word-wrap: break-word;
}

.dropdown-surround {
    display: inline-block;
    color: var(--tx1);
    font-size: 20px;
    font-weight: var(--tx-weight-nl);
    line-height: 1.8;
    text-wrap: wrap;
    word-wrap: normal;
    overflow-wrap: break-word;
    padding-left: 4px;
}

@media (max-width: 640px) {
    .dropdown-surround {
        font-size: 14px;
        line-height: 24px;
    }

    .dropdown-btn {
        padding: 2px 6px;
    }
}

/* -- inline footnotes -- */
.inf {
    background-color: transparent;
    color: var(--tx1) !important;
}

.inf,
.inf:hover {
    text-decoration: none
}

.inf,
.inf:not(:hover) span.footnoteContent {
    display: none;
}

.inf:hover span.footnoteContent {
    display: inline-block;
}

.inf {
    padding: 2px 6px;
    border-radius: 3px;
    line-height: 1;
    vertical-align: text-top;
    font-size: 16px;
    margin: -5px 0 0;
    display: inline;
    font-weight: 500;
    border-bottom: 0;
    cursor: pointer
}

.inf span.footnoteContent {
    position: absolute;
    padding: 15px;
    background-color: var(--bg2);
    color: var(--tx1);
    border: 0px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .4);
    font-weight: 500;
    font-size: 12px;
    line-height: 1pc;
    letter-spacing: .01em;
    max-width: 300px;
    z-index: 1;
}


/* MODIFIERS */

.m-b-200em {
    margin-bottom: 2em !important;
}

.f-color-sub {
    color: var(--subtitle-tx-color) !important;
}

/*-- light dark toggle --*/
#theme-switcher {
    background-color: var(--nj-space-grayLight);
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center !important;
    vertical-align: middle;
    gap: 0.6rem;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.5rem 0 0.5rem 0.5rem;
    position: relative;
    z-index: 20;
    transition-duration: 1s;
}

#theme-switcher:before {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--switch-circle-bg);
    border-radius: 24px;
    z-index: 22;
    left: 0;
    transform: translateX(var(--switch-circle-pos));
    transition-duration: 0.8s;
}

#theme-switcher svg {
    z-index: 23;
}

#icon-sun {
    fill: var(--icon-sun);
    stroke: var(--icon-sun);
}

#icon-moon {
    fill: var(--icon-moon);
    stroke: var(--icon-moon);
}
